<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <div class="container">
      <div class="row">
        <h1 class="title">The Weather App</h1>
      </div>
    </div>
    <div class="container">
      <form action="">
        <input type="text" />
      </form>
    </div>
    <footer><%- include('./partials/footer'); %></footer>
    <%- include('./partials/foot'); %>
  </body>
</html>
