<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="container" id="title">
      <div class="row">
        <h1 class="title">The Weather App</h1>
      </div>
    </div>
    <p><%=result.windDirection %> </p>

    </div>
    
    <footer><%- include('./partials/footer'); %></footer>
    <%- include('./partials/foot'); %>
  </body>
</html>
